<%= form_for(@week) do |f| %>
  <% if @week.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@week.errors.count, "error") %> prohibited this week from being saved:</h2>

      <ul>
      <% @week.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :from %><br>
    <%= f.date_field :from, class: 'datepicker form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :to %><br>
    <%= f.date_field :to, class: 'datepicker form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :self_catered %><br>
    <%= f.text_field :self_catered, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :weekend %><br>
    <%= f.text_field :weekend, class: 'form-control' %>
  </div>

  <div class="field hidden">
    <%= f.label :month_id %><br>
    <%= f.text_field :month_id %>
  </div>
  <div class="form-group">
    <%= f.submit @week.new_record? ? 'Create Week' : 'Update Week', class: 'btn btn-default' %>
  </div>
<% end %>
