<%= form_for(@week) do |f| %>
  <% if @week.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@week.errors.count, "error") %> prohibited this week from being saved:</h2>

      <ul>
      <% @week.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from %><br>
    <%= f.date_field :from, class: 'datepicker' %>
  </div>
  <div class="field">
    <%= f.label :to %><br>
    <%= f.date_field :to, class: 'datepicker' %>
  </div>
  <br><br>
  <div class="field hidden">
    <%= f.label :month_id %><br>
    <%= f.text_field :month_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
