<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @week.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @week.to %>
</p>

<p>
  <strong>Month:</strong>
  <%= @week.month %>
</p>

<%= link_to 'Edit', edit_week_path(@week) %> |
<%= link_to 'Back', weeks_path %>
