<div id="house-edit" class="row">
  <div class="col-sm-12">
    <%= form_for @house, html: { multipart: true } do |f| %>
      <% if @house.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@house.errors.count, "error") %> prohibited this house from being saved:</h2>

          <ul>
          <% @house.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :url %><br>
        <%= f.text_field :url, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :sleep_capacity %><br>
        <%= f.text_field :sleep_capacity, class: 'form-control' %>
      </div>

      <div class="col-sm-6 no-padding-left">
        <div class="form-group">
          <%= f.label :home_description %><br>
          <%= f.text_area :home_description, rows: 10, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :description %><br>
          <%= f.text_area :description, rows: 10, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :property_fact %><br>
          <%= f.text_area :property_fact, rows: 20, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :property_feature %><br>
          <%= f.text_area :property_feature, rows: 20, class: 'form-control' %>
        </div>
      </div>
      <div class="col-sm-6 no-padding-right">
        <div class="form-group">
          <%= f.label :fr_home_description %><br>
          <%= f.text_area :fr_home_description, rows: 10, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :fr_description %><br>
          <%= f.text_area :fr_description, rows: 10, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :fr_property_fact %><br>
          <%= f.text_area :fr_property_fact, rows: 20, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :fr_property_feature %><br>
          <%= f.text_area :fr_property_feature, rows: 20, class: 'form-control' %>
        </div>
      </div>


      <div class="form-group">
        <%= f.label :image %><br>
        <%= f.file_field :image, class: 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit class: 'btn btn-black' %>
      </div>
    <% end %>
  </div>
</div>
