<div class="row">
  <div class="col-md-12 text-center">
    <h2><%= @house.name %></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <%= link_to 'Add Appartment', new_appartment_path(house_id: @house.id), class: 'btn btn-success' %>
    <div>
      <br>
      <small><%= link_to 'Sort Appartments', appartments_path, class: 'btn btn-link btn-xs' %></small>
    </div>
  </div>
</div>
<div class="row">
  <% @house.appartments.order(:position).each do |appartment| %>
    <div class="col-md-12 text-center dashed-box">
      <br>
      <% if appartment.visible? %>
        <p>( <%= appartment.name %> is currently <span class="green">VISIBLE</span> for the world to see! )</p>
      <% else %>
        <p>( <%= appartment.name %> is currently <span class="red">NOT VISIBLE</span> for the world to see! )</p>
      <% end %>
      <h3><%= link_to(appartment.name, edit_appartment_path(appartment.id), class: 'btn btn-warning btn-lg') %></h3>
      <% if appartment.description? %>
        <p><%= appartment.description %></p>
      <% end %>

      <br><hr><br>
       <%= link_to 'Add Month', new_month_path(appartment_id: appartment.id), class: 'btn btn-success' %>
      <ul class="nav nav-pills nav-justified" id="sortable_month" data-update-url="<%= sort_months_path %>">
        <% appartment.months.order(:position).each_with_index do |month, i| %>
          <li class="<%= active_tab?(i) %>" id="month_<%= month.id %>"><a data-toggle="pill" href="#<%= appartment.name %>-<%= month.id %>"><%= month.name %></a></li>
        <% end %>
      </ul>
      <div class="tab-content">
        <% appartment.months.includes(:weeks).each_with_index do |month, i| %>
          <div id="<%= appartment.name %>-<%= month.id %>" class="tab-pane fade <%= 'in active' if i == 0 %>">
            <%= link_to "Edit #{month.name}", edit_month_path(month.id), class: "btn btn-warning" %> |
            <%= link_to "Delete #{month.name}", month_path(month.id), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %> <br><br><br><hr>
            <%= link_to "Add Week to #{month.name}", new_week_path(month_id: month.id), class: "btn btn-success" %><br><br>
            <table class="table">
              <thead>
                <tr id="sortable_week" data-update-url="<%= sort_weeks_path %>">
                  <th>PRICING</th>
                  <span >
                    <% month.weeks.order(:position).each do |week| %>
                      <th class="text-center" id="week_<%= week.id %>"><%= link_to "#{week.from.day}-#{week.to.day} #{month.name[0, 3]}", edit_week_path(week.id), class: 'btn btn-warning btn-xs' %> | <%= link_to 'Delete Week', week_path(week.id), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger btn-xs' %></th>
                    <% end %>
                  </span>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-left"><strong>SELF-CATERED</strong></td>
                  <% month.weeks.each do |week| %>

                      <td><%= link_to pricing_format(week.self_catered), edit_week_path(week.id), class: 'btn btn-warning btn-xs' %></td>

                  <% end %>
                </tr>
                <tr>
                  <td class="text-left"><strong>PRICE PER WEEKEND</strong></td>
                  <% month.weeks.each do |week| %>

                      <td><%= link_to pricing_format(week.weekend), edit_week_path(week.id), class: 'btn btn-warning btn-xs' %></td>

                  <% end %>
                </tr>

              </tbody>
            </table>
          </div>
        <% end %>


      </div>
      <hr>
      <%= link_to "Delete #{appartment.name}", appartment_path(appartment.id), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
      <br><br>
    </div>
  <% end %>
</div>
