<div id="pricings-table">
  <% chalet.appartments.order(:position).each do |appartment| %>
    <% if appartment.visible? %>

      <% if appartment.description? %>
        <p>Pricings &amp; Availabilities</p>
      <% end %>
      <ul class="nav nav-pills nav-justified">
        <% appartment.months.order(:position).each_with_index do |month, i| %>
          <li class="<%= active_tab?(i) %>"><a data-toggle="pill" href="#<%= appartment.name %>-<%= month.id %>"><%= month.name %></a></li>
        <% end %>
      </ul>


      <div class="tab-content ">
        <% appartment.months.includes(:weeks).each_with_index do |month, i| %>
          <div id="<%= appartment.name %>-<%= month.id %>" class="tab-pane fade <%= 'in active' if i == 0 %>">

            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <% month.weeks.order(:position).each do |week| %>
                    <th class="text-center"><%= "#{week.from.day}-#{week.to.day} #{month_text[week.to.month - 1]}" %></th>
                  <% end %>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-left"><strong>SELF-CATERED</strong></td>
                  <% month.weeks.each do |week| %>
                    <td><%= pricing_format(week.self_catered) %></td>
                  <% end %>
                </tr>
                <tr>
                  <td class="text-left"><strong>CATERED</strong></td>
                  <% month.weeks.each do |week| %>
                    <td><%= pricing_format(week.weekend) %></td>
                  <% end %>
                </tr>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
