<div class="col-md-12 tab_horizontal_border">
	<div class="col-md-6">
		<p class="lead"><%= name %></p>
		<%= image_tag("#{name_pic}", class: "tab_logo") %>
		<% if distance.present? %>
			<p>Distance: <%= distance %></p>
		<% end %>
	</div>
	<div class="col-md-6 paddingTopTab">
		<% if phone.present? %>
			<div class="col-xs-2">
				<%= fa_icon "phone" %>
			</div>
			<div class="col-xs-10 left">
				<%= link_to("#{phone}", "tel:#{phone}") %>
			</div>
			<br>
			<br>
		<%  end %>
		<% if web.present? && real_web.present? %>
			<div class="col-xs-2">
				<%= fa_icon "globe" %>
			</div>
			<div class="col-xs-10 left">
				<%= link_to("www.#{web}", "#{real_web}", target: "_blank") %>
			</div>
			<br>
			<br>
		<% end %>
		<% if address.present? %>
			<div class="col-xs-2">
				<%= fa_icon "map-marker" %>
			</div>
			<div class="col-xs-10 left">
				<%= link_to("#{address}", "http://maps.google.com/?ll=#{latlng}", target: "_blank") %>
			</div>
		<% end %>	
	</div>
</div>

