<div id="home">
	<div class="photo_background">
		<%= image_tag("chalet1_home.jpg", class: "pic_home") %>	
		<div class="overlay">
			<div class="home_title">
				<h1>Chalet Rental HideAway</h1>
			</div>
		</div>
	</div>

</div>
<div class="home_main_content">
	<div class="container">
		<div class="row center">
			<div class="col-md-12">
				<h1>GET AWAY TODAY WITH OUR HIDEAWAY CHALETS</h1>
				<p class="lead">On Chamonix's main mountain, the Grands-Montets piste. You ski-in &amp; ski-out by gravity right to and from your doorstep. <br>Next to the Panda Ski School and the Panda Riding School, open to the woods and the mountain.</p>
			</div>
			<div class="col-md-4 pic_main_content_div">
				<%= image_tag("chalet2.jpg", class: "pic_main_content") %>
			</div>
			<div class="col-md-4 pic_main_content_div">
				<%= image_tag("chalet4.jpg", class: "pic_main_content") %>
			</div>
			<div class="col-md-4 pic_main_content_div">
				<%= image_tag("chalet5.jpg", class: "pic_main_content") %>
			</div>
		</div>
	</div>
	<div class="band center">
		<div class="col-md-4">	
			<%= fa_icon "paw 4x" %>
		</div>
		<div class="col-md-4">	
			<%= fa_icon "paw 4x" %>
		</div>
		<div class="col-md-4">	
			<%= fa_icon "paw 4x" %>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 center">
				<h1>About Chalets HideAway</h1>
				<p class="lead">The awesome HideAway Chalets have an un-rivalled ski in ski out location at the bottom of the Grands Montets ski area.  Lively apres ski bars are within skipping distance of the chalets and the centre of Argentière is just a short stroll away.</p>
			</div>
			<div class="col-md-8 center">
				<h2>HideAway 1</h2>
				<%= image_tag("chalet1.jpg", class: "pic_main_content2") %>
				<p>Chalet HideAway 1 comprises 4 twin / double bedrooms which each have their own private bathroom facilities. There is a large open plan living area with widescreen satellite TV, media centre and wifi. There is a private outdoor hot tub on the sun terrace which enjoy stunning views of the Mont Blanc Massif.</p>
				<small>For groups of 10 people we can make two of the rooms into triples.</small>
			</div>
			<div class="col-md-4">
				<h2 class="heavy">Property Facts</h2>
				<ul>
					<li><p class="lead"><%= fa_icon "bed" %>&nbsp;&nbsp;&nbsp;&nbsp;Sleep 8 - 10</p></li>
					<li><p class="lead"><%= fa_icon "bus" %>&nbsp;&nbsp;&nbsp;&nbsp;Bus stop 130m</p></li>
					<li><p class="lead"><%= fa_icon "cutlery" %>&nbsp;&nbsp;&nbsp;&nbsp;Argentiere town centre 500m</p></li>
					<li><p class="lead"><%= fa_icon "car" %>&nbsp;&nbsp;&nbsp;&nbsp;Grands Montets cable car 130m</p></li>
					<li><p class="lead"><%= fa_icon "wifi" %>&nbsp;&nbsp;&nbsp;&nbsp;Free WIFI</p></li>
					<li><p class="lead"><%= fa_icon "tv" %>&nbsp;&nbsp;&nbsp;&nbsp;UK Satellite TV &amp; DVD Player</p></li>
				</ul>
				<h2 class="heavy">Property Features</h2>
				<ul>
					<li><p class="lead"><%= fa_icon "cube" %>&nbsp;&nbsp;&nbsp;&nbsp;Hot-tub jacuzzi</p></li>
					<li><p class="lead"><%= fa_icon "gamepad" %>&nbsp;&nbsp;&nbsp;&nbsp;X box Kinect</p></li>
					<li><p class="lead"><%= fa_icon "image" %>&nbsp;&nbsp;&nbsp;&nbsp;Balcony and terrace</p></li>
					<li><p class="lead"><%= fa_icon "dollar" %>&nbsp;&nbsp;&nbsp;&nbsp;Prices from £429 per person per week</p></li>
				</ul>
			</div>
			<!--div class="col-md-12 marginTopMin">
				<p class="lead">For larger groups HideAway 1 &amp; 2 can be rented alongside this chalet as they are interlinked through their garage, this allows groups of up to 22 people.</p>
			</div-->
		</div>
	</div>
</div>
<div class="background_image">

</div>
<div class="home_content">
	<div class="container">
		<div class="row marginTopMin">
			<div class="col-md-4">
				<h2 class="heavy">Property Facts</h2>
				<ul>
					<li><p class="lead"><%= fa_icon "bed" %>&nbsp;&nbsp;&nbsp;&nbsp;Sleep 10 - 12</p></li>
					<li><p class="lead"><%= fa_icon "bus" %>&nbsp;&nbsp;&nbsp;&nbsp;Bus stop 130m</p></li>
					<li><p class="lead"><%= fa_icon "cutlery" %>&nbsp;&nbsp;&nbsp;&nbsp;Argentiere town centre 500m</p></li>
					<li><p class="lead"><%= fa_icon "car" %>&nbsp;&nbsp;&nbsp;&nbsp;Grands Montets cable car 130m</p></li>
					<li><p class="lead"><%= fa_icon "wifi" %>&nbsp;&nbsp;&nbsp;&nbsp;Free WIFI</p></li>
					<li><p class="lead"><%= fa_icon "tv" %>&nbsp;&nbsp;&nbsp;&nbsp;UK Satellite TV &amp; DVD Player</p></li>
				</ul>
				<h2 class="heavy">Property Features</h2>
				<ul>
					<li><p class="lead"><%= fa_icon "heartbeat" %>&nbsp;&nbsp;&nbsp;&nbsp;Heated indoor swimming pool</p></li>
					<li><p class="lead"><%= fa_icon "sun-o" %>&nbsp;&nbsp;&nbsp;&nbsp;Sauna</p></li>
					<li><p class="lead"><%= fa_icon "fire" %>&nbsp;&nbsp;&nbsp;&nbsp;Wood burning stove</p></li>
					<li><p class="lead"><%= fa_icon "cube" %>&nbsp;&nbsp;&nbsp;&nbsp;Hot-tub jacuzzi</p></li>
					<li><p class="lead"><%= fa_icon "gamepad" %>&nbsp;&nbsp;&nbsp;&nbsp;X box Kinect</p></li>
					<li><p class="lead"><%= fa_icon "image" %>&nbsp;&nbsp;&nbsp;&nbsp;Balcony and terrace</p></li>
					<li><p class="lead"><%= fa_icon "dollar" %>&nbsp;&nbsp;&nbsp;&nbsp;Prices from £429 per person per week</p></li>
				</ul>
			</div>
			<div class="col-md-8 center">
				<h2>HideAway 2</h2>
				<%= image_tag("chalet1.jpg", class: "pic_main_content2") %>
				<p>Chalet HideAway 2 comprises of five twin / double bedrooms which each have their own private bathroom facilities.   There is a large open plan living area with widescreen satellite TV, media centre, table football and wifi.  Beneath the chalet there is a private heated indoor swimming pool, swedish sauna and on the sun terrace guests can enjoy the outdoor hot tub which has stunning views of the Mont Blanc Massif.</p>
				<small>For groups of 12 people we can make two of the rooms into triples.</small>
			</div>
		</div>
	</div>
</div>
<div class="background_image2">

</div>

