<div id="home">
	<div class="photo_background">
		<%= image_tag("chalet2_home.jpg", class: "pic_home") %>
		<%= image_tag("chalet1_home.jpg", class: "pic_home_mobile") %>		
		<div class="overlay">
			<div class="home_nav">
				<ul>
					<li><%= link_to("About", "#about", class: "btn btn-default smooth_scroll") %></li>
					<li><%= link_to("Book", "#", class: "btn btn-default smooth_scroll") %></li>
					<li><%= link_to("Contact", "#", class: "btn btn-default smooth_scroll") %></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="home_main_content">
	<div class="container">
		<div class="row center">
			<div class="col-md-12">
				<h1>HIDE AWAY TODAY IN OUR CHALETS</h1>
				<p class="lead">On Chamonix's main mountain, the Grands-Montets piste. You ski-in &amp; ski-out by gravity right to and from your doorstep. <br>Next to the Panda Ski School and the Panda Riding School, open to the woods and the mountain.</p>
			</div>
			<div class="col-md-4 pic_main_content_div">
				<%= image_tag("chalet_neige1.jpg", class: "pic_main_content") %>
			</div>
			<div class="col-md-4 pic_main_content_div">
				<%= image_tag("chalet_neige2.jpg", class: "pic_main_content") %>
			</div>
			<div class="col-md-4 pic_main_content_div">
				<%= image_tag("chalet_neige3.jpg", class: "pic_main_content") %>
			</div>
		</div>
	</div>
	<div class="band center">
		<div class="col-xs-4">	
			<%= fa_icon "pagelines 4x" %>
			<p class="lead">Comfort &amp; Nature</p>
		</div>
		<div class="col-xs-4">	
			<%= fa_icon "area-chart 4x" %>
			<p class="lead">Altitude: 1300m</p>
		</div>
		<div class="col-xs-4">	
			<%= fa_icon "camera-retro 4x" %>
			<p class="lead">Astonishing Surroundings</p>
		</div>
	</div>
	<div class="container" id="about">
		<div class="row">
			<div class="col-md-12 center marginTopMin">
				<h1>About Chalets HideAway</h1>
				<p class="lead">The awesome HideAway Chalets have an un-rivalled ski in ski out location at the bottom of the Grands Montets ski area.  Lively apres ski bars are within skipping distance of the chalets and the centre of Argentière is just a short stroll away.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 center">
				<h1>HideAway 1</h1>
				<div class="owl_carousel_anchor">
					<div class="owl-carousel owl-theme">
						<div><%= image_tag("hideaway1-1.jpg", class: "pic_carou") %></div>
						<div><%= image_tag("hideaway1-2.jpg", class: "pic_carou") %></div>
						<div><%= image_tag("hideaway1-3.jpg", class: "pic_carou") %></div>
						<div><%= image_tag("hideaway1-4.jpg", class: "pic_carou") %></div>
						<div><%= image_tag("hideaway1-5.jpg", class: "pic_carou") %></div>
						<div><%= image_tag("hideaway1-6.jpg", class: "pic_carou") %></div>
						<div><%= image_tag("hideaway1-7.jpg", class: "pic_carou") %></div>
						<div><%= image_tag("hideaway1-8.jpg", class: "pic_carou") %></div>
						<div><%= image_tag("hideaway1-9.jpg", class: "pic_carou") %></div>
						<div><%= image_tag("hideaway1-10.jpg", class: "pic_carou") %></div>
						<div><%= image_tag("hideaway1-11.jpg", class: "pic_carou") %></div>
						<div><%= image_tag("hideaway1-12.jpg", class: "pic_carou") %></div>
					</div>
					<div class="carousel_arrow_div carousel_arrow_div_pic_left">
						<%= image_tag("left_arrow.png", class: "carousel_arrow_pic ") %>
					</div>
					<div class="carousel_arrow_div carousel_arrow_div_pic_right">
						<%= image_tag("right_arrow.png", class: "carousel_arrow_pic ") %>
					</div>
				</div>
				<p>Chalet HideAway 1 includes 4 twin / double-bed rooms. There is a large open plan living area with widescreen satellite TV, media centre and wifi. There is a private outdoor hot tub on the sun terrace which enjoys stunning views of the Mont Blanc Massif.</p>
				<small>For groups of 10 people we can make two of the rooms into triples.</small>
				<br>
				<br>
				<div class="btn btn-black">Check Availability</div>
			</div>
			<div class="col-md-4">
				<h2 class="heavy">Property Facts</h2>
				<ul>
					<li><p class="lead"><%= fa_icon "bed" %>&nbsp;&nbsp;&nbsp;&nbsp;Sleep 8 - 10</p></li>
					<li><p class="lead"><%= fa_icon "bus" %>&nbsp;&nbsp;&nbsp;&nbsp;Bus stop 130m</p></li>
					<li><p class="lead"><%= fa_icon "cutlery" %>&nbsp;&nbsp;&nbsp;&nbsp;Argentiere village centre 500m</p></li>
					<li><p class="lead"><%= image_tag("cablecaricon.jpg", class: "icon") %>&nbsp;&nbsp;&nbsp;&nbsp;Grands Montets cable car 130m</p></li>
					<li><p class="lead"><%= fa_icon "wifi" %>&nbsp;&nbsp;&nbsp;&nbsp;Free WIFI</p></li>
					<li><p class="lead"><%= fa_icon "tv" %>&nbsp;&nbsp;&nbsp;&nbsp;UK Satellite TV &amp; DVD Player</p></li>
					<li><p class="lead"><%= fa_icon "car" %>&nbsp;&nbsp;&nbsp;&nbsp;Private parking</p></li>
					<li><p class="lead"><%= fa_icon "paw" %>&nbsp;&nbsp;&nbsp;&nbsp;Pet Friendly</p></li>
				</ul>
				<h2 class="heavy">Property Features</h2>
				<ul>
					<li><p class="lead"><%= image_tag("jacuzziicon.jpg", class: "icon") %>&nbsp;&nbsp;&nbsp;&nbsp;Hot-tub jacuzzi</p></li>
					<li><p class="lead"><%= fa_icon "gamepad" %>&nbsp;&nbsp;&nbsp;&nbsp;X box Kinect</p></li>
					<li><p class="lead"><%= fa_icon "image" %>&nbsp;&nbsp;&nbsp;&nbsp;Balcony, terrace and garden</p></li>
					<li><p class="lead"><%= fa_icon "tree" %>&nbsp;&nbsp;&nbsp;&nbsp;Instant access to the open forest and the towering peaks </p></li>
					<li><p class="lead"><%= fa_icon "dollar" %>&nbsp;&nbsp;&nbsp;&nbsp;From £429 per person per week</p></li>
				</ul>
			</div>
			<!--div class="col-md-12 marginTopMin">
				<p class="lead">For larger groups HideAway 1 &amp; 2 can be rented alongside this chalet as they are interlinked through their garage, this allows groups of up to 22 people.</p>
			</div-->
		</div>
	</div>
</div>
<div class="background_image band_height">

</div>
<div class="band_height_mobile">
	<%= image_tag("background_image_mobile1.jpg", class: "background_image_mobile") %>
</div>
<div class="home_content">
	<div class="container">
		<div class="row marginTopMin">
			<div class="col-md-8 col-md-push-4 center">
				<h1>HideAway 2</h1>
				<div class="owl_carousel_anchor">
					<div class="owl-carousel owl-theme">
						<div><%= image_tag("hideaway2-1.jpg", class: "pic_carou") %></div>
						<div><%= image_tag("hideaway2-2.jpg", class: "pic_carou") %></div>
						<div><%= image_tag("hideaway2-3.jpg", class: "pic_carou") %></div>
						<div><%= image_tag("hideaway2-4.jpg", class: "pic_carou") %></div>
						<div><%= image_tag("hideaway2-5.jpg", class: "pic_carou") %></div>
						<div><%= image_tag("hideaway2-6.jpg", class: "pic_carou") %></div>
						<div><%= image_tag("hideaway2-7.jpg", class: "pic_carou") %></div>
						<div><%= image_tag("hideaway2-8.jpg", class: "pic_carou") %></div>
						<div><%= image_tag("hideaway2-9.jpg", class: "pic_carou") %></div>
						<div><%= image_tag("hideaway2-10.jpg", class: "pic_carou") %></div>
						<div><%= image_tag("hideaway2-11.jpg", class: "pic_carou") %></div>
						<div><%= image_tag("hideaway2-12.jpg", class: "pic_carou") %></div>
						<div><%= image_tag("hideaway2-13.jpg", class: "pic_carou") %></div>
						<div><%= image_tag("hideaway2-14.jpg", class: "pic_carou") %></div>
					</div>
					<div class="carousel_arrow_div carousel_arrow_div_pic_left">
						<%= image_tag("left_arrow.png", class: "carousel_arrow_pic ") %>
					</div>
					<div class="carousel_arrow_div carousel_arrow_div_pic_right">
						<%= image_tag("right_arrow.png", class: "carousel_arrow_pic ") %>
					</div>
				</div>
					
				<p>Chalet HideAway 2 includes five twin / double bedrooms which each have their own private bathroom facilities.   There is a large open plan living area with widescreen satellite TV, media centre, table football and wifi.  Beneath the chalet there is a private heated indoor swimming pool, swedish sauna and on the sun terrace guests can enjoy the outdoor hot tub which has stunning views of the Mont Blanc Massif.</p>
				<small>For groups of 12 people we can make two of the rooms into triples.</small>
				<br>
				<br>
				<div class="btn btn-black">Check Availability</div>
			</div>
			<div class="col-md-4 col-md-pull-8">
				<h2 class="heavy">Property Facts</h2>
				<ul>
					<li><p class="lead"><%= fa_icon "bed" %>&nbsp;&nbsp;&nbsp;&nbsp;Sleep 10 - 12</p></li>
					<li><p class="lead"><%= fa_icon "bus" %>&nbsp;&nbsp;&nbsp;&nbsp;Bus stop 130m</p></li>
					<li><p class="lead"><%= fa_icon "cutlery" %>&nbsp;&nbsp;&nbsp;&nbsp;Argentiere village centre 500m</p></li>
					<li><p class="lead"><%= image_tag("cablecaricon.jpg", class: "icon") %>&nbsp;&nbsp;&nbsp;&nbsp;Grands Montets cable car 130m</p></li>
					<li><p class="lead"><%= fa_icon "wifi" %>&nbsp;&nbsp;&nbsp;&nbsp;Free WIFI</p></li>
					<li><p class="lead"><%= fa_icon "tv" %>&nbsp;&nbsp;&nbsp;&nbsp;UK Satellite TV &amp; DVD Player</p></li>
					<li><p class="lead"><%= fa_icon "car" %>&nbsp;&nbsp;&nbsp;&nbsp;Private parking</p></li>
					<li><p class="lead"><%= fa_icon "paw" %>&nbsp;&nbsp;&nbsp;&nbsp;Pet Friendly</p></li>
				</ul>
				<h2 class="heavy">Property Features</h2>
				<ul>
					<li><p class="lead"><%= image_tag("poolicon.jpg", class: "icon") %>&nbsp;&nbsp;&nbsp;&nbsp;Heated indoor swimming pool</p></li>
					<li><p class="lead"><%= fa_icon "sun-o" %>&nbsp;&nbsp;&nbsp;&nbsp;Sauna</p></li>
					<li><p class="lead"><%= fa_icon "fire" %>&nbsp;&nbsp;&nbsp;&nbsp;Wood burning stove</p></li>
					<li><p class="lead"><%= image_tag("jacuzziicon.jpg", class: "icon") %>&nbsp;&nbsp;&nbsp;&nbsp;Hot-tub jacuzzi</p></li>
					<li><p class="lead"><%= fa_icon "gamepad" %>&nbsp;&nbsp;&nbsp;&nbsp;X box Kinect</p></li>
					<li><p class="lead"><%= fa_icon "image" %>&nbsp;&nbsp;&nbsp;&nbsp;Balcony, terrace and garden</p></li>
					<li><p class="lead"><%= fa_icon "tree" %>&nbsp;&nbsp;&nbsp;&nbsp;Instant access to the open forest and the towering peaks </p></li>
					<li><p class="lead"><%= fa_icon "dollar" %>&nbsp;&nbsp;&nbsp;&nbsp;From £429 per person per week</p></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="background_image2 band_height">

</div>
<div class="band_height_mobile">
	<%= image_tag("background_image_mobile2.jpg", class: "background_image_mobile") %>
</div>
<div class="home_content">
	<div class="container">
		<div class="row marginTopMin">
			<div class="col-md-6 center">
				<h1>Location</h1>
				<div class="marginTopMinMin">
					<div class="map_wrapper">
  						<div id="map" class="map"></div>
  						<div id="map_ski_rental" class="map"></div>
  						<div id="map_restaurant" class="map"></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 center">
				<h1>What's around</h1>
			
				<ul class="nav nav-tabs">
				  <li class="active"><%= link_to("Panda Club", "#tab_panda_club", data: {toggle: "tab"}, id: "click_tab_panda_club") %></li>
				  <li><%= link_to("Ski Rental", "#tab_ski_rental", data: {toggle: "tab"}, id: "click_tab_ski_rental") %></li>
				  <li><%= link_to("Restaurant", "#tab_restaurant", data: {toggle: "tab"}, id: "click_tab_restaurant") %></li>
				  <li><%= link_to("Transport", "#tab_transport", data: {toggle: "tab"}) %></li>
				  <li><%= link_to("Other cool stuff", "#tab_other", data: {toggle: "tab"}) %></li>
				</ul>
				<div class="tab-content">
				  <div id="tab_panda_club" class="tab-pane fade in active">
				    <div class="col-md-6 panda_winter">
				    	<h4>Winter</h4>
				    	<%= image_tag("pandaclubhiver.jpg", class: "tab_logo_panda") %>
				    	<p>Set in the heart of the forest, at the foot of Grand Montet, is our Panda Club, which is home to our Children's Ski School.</p>

				    	
				    	


				    	<p>From 3 to 14 years old. The Panda Club is famous in Chamonix for its super child friendly service, exceptional standards and success rates, but more importantly enjoyment factor for children.</p>
				    	
				    	<%= link_to("More Info", "", data: {toggle: "modal", target: "#panda_club_winter"}, class: "btn btn-black") %>
				    	
				    </div>
				    <div class="col-md-6">
				    	<h4>Summer</h4>
				    	<%= image_tag("chaletsummerhorse.jpg", class: "tab_logo_panda") %>
				    	<p class="lead">Come with your horse</p>
				    	
				    	<p>Stables on site for your horses</p>
				    	<%= link_to("More Info", "", data: {toggle: "modal", target: "#panda_club_summer"}, class: "btn btn-black") %>
				    </div>
				  </div>


				  <div id="tab_ski_rental" class="tab-pane fade">
				  	<%= render("home/tab", name: "Sanglard", name_pic: "sanglard.png", distance: "150", phone: "+33 4 50 54 05 27", web: "uk.rentski.com", real_web: "uk.rentski.com/shops/argentiere.html", address: "98 chemin de la Glacière, 74400 Argentière, France", latlng: "45.978684, 6.927316") %>

				  	<%= render("home/tab", name: "Grands Montets Sport", name_pic: "grandmontetsport.jpg", distance: "150", phone: "+33 4 50 54 20 30", web: "grands-montets-sports.com", real_web: "www.grands-montets-sports.com/?lang=en", address: "56 Chemin de la Glacière, 74400 Chamonix-Mont-Blanc, France", latlng: "45.978270, 6.926172") %>

				  	<%= render("home/tab", name: "Sportech", name_pic: "sportech.png", distance: "800", phone: "+33 4 50 54 00 56", web: "sportech-argentiere.fr", real_web: "sportech-argentiere.fr/en/ski-shop-sportech.html", address: "352 rue Charlet Straton, 74400 Argentière, France", latlng: "45.984645, 6.927229") %>
				  </div>


				  <div id="tab_restaurant" class="tab-pane fade">
				    <%= render("home/tab", name: "L'Argentero", name_pic: "argentero.jpg", distance: "100", phone: "+33 4 50 54 03 77", web: "", real_web: "", address: "180 Chemin Glacière, 74400 Argentière", latlng: "45.978361, 6.927775") %>

				    <%= render("home/tab", name: "Les Marmottons", name_pic: "marmotton.jpg", distance: "150", phone: "+33 4 50 54 10 67", web: "brasserielesmarmottons.fr", real_web: "brasserielesmarmottons.fr", address: "56 Chemin de la Glacière, 74400 Chamonix-Mont-Blanc, France", latlng: "45.9781703,6.9242791") %>

				    <%= render("home/tab", name: "La Crèmerie Du Glacier", name_pic: "cremerie.jpg", distance: "600", phone: "+33 4 50 54 07 52", web: "lacremerieduglacier.fr", real_web: "lacremerieduglacier.fr", address: "766 Chemin de la Glacière, 74400 Chamonix-Mont-Blanc, France", latlng: "45.978409,6.935329") %>
				  </div>


				  <div id="tab_transport" class="tab-pane fade">
				    <h3>Transportation</h3>
				    <p>Train</p>
				    <p>Geneva Airport</p>

				  </div>
				  <div id="tab_other" class="tab-pane fade">
				    <h3>Cool Stuff</h3>
				    <p>Golf</p>
				    <p>Tennis</p>

				  </div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div id="panda_club_winter" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <%= image_tag("panda_club_winter_modal1.jpg", class: "modal_picture") %>
      </div>
      <div class="modal-body">
        <p class="heavy">Whether your child is a complete beginner, needs to improve their skills, or can ski but wants to head onto the big slopes with other children the Panda Base camp really is a SKI COOL for all children, ages 3-12 years!</p>
		<p class="heavy">We also have our Junior Academy , for those children 8-14 years that already can ski and want to head off and learn new skills, moguls, freestyle and off piste</p>
		<p class="heavy">The Panda Club is affiliated with Evolution2. They attribute their success to utilising the same philosophy in everything they do – the pursuit of excellence - and providing the best possible service with the highest quality staff.</p>
      </div>
      <div class="modal-footer center">
      	<%= link_to("Visit Website", "http://www.evolution2-chamonix.com/ski-school/children", target: "_blank", class: "btn btn-black center") %>
        <button type="button" class="btn btn-black" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- Modal -->
<div id="panda_club_summer" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
      </div>
      <div class="modal-body">
        <p>horse</p>
      </div>
      <div class="modal-footer">
      	<%= link_to("Visit Website", "", class: "btn btn-black") %>
        <button type="button" class="btn btn-black" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>




