<div id="home">
	<div class="photo_background">
		<%= image_tag("chalet2_home.jpg", class: "pic_home") %>	
		<div class="overlay">
			<div class="home_nav">
				<ul>
					<li><%= link_to("About", "#about", class: "btn btn-default smooth_scroll") %></li>
					<li><%= link_to("Book", "#", class: "btn btn-default smooth_scroll") %></li>
					<li><%= link_to("Contact", "#", class: "btn btn-default smooth_scroll") %></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="home_main_content">
	<div class="container">
		<div class="row center">
			<div class="col-md-12">
				<h1>HIDE AWAY TODAY WITH OUR CHALETS</h1>
				<p class="lead">On Chamonix's main mountain, the Grands-Montets piste. You ski-in &amp; ski-out by gravity right to and from your doorstep. <br>Next to the Panda Ski School and the Panda Riding School, open to the woods and the mountain.</p>
			</div>
			<div class="col-md-4 pic_main_content_div">
				<%= image_tag("chalet_neige.jpg", class: "pic_main_content") %>
			</div>
			<div class="col-md-4 pic_main_content_div">
				<%= image_tag("chalet_neige2.jpg", class: "pic_main_content") %>
			</div>
			<div class="col-md-4 pic_main_content_div">
				<%= image_tag("chalet5.jpg", class: "pic_main_content") %>
			</div>
		</div>
	</div>
	<div class="band center">
		<div class="col-xs-4">	
			<%= fa_icon "paw 4x" %>
			<p class="lead">Comfort &amp; Nature</p>
		</div>
		<div class="col-xs-4">	
			<%= fa_icon "paw 4x" %>
			<p class="lead">Altitude: 1300m</p>
		</div>
		<div class="col-xs-4">	
			<%= fa_icon "paw 4x" %>
			<p class="lead">Astonishing Surroundings</p>
		</div>
	</div>
	<div class="container" id="about">
		<div class="row">
			<div class="col-md-12 center marginTopMin">
				<h1>About Chalets HideAway</h1>
				<p class="lead">The awesome HideAway Chalets have an un-rivalled ski in ski out location at the bottom of the Grands Montets ski area.  Lively apres ski bars are within skipping distance of the chalets and the centre of Argentière is just a short stroll away.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 center">
				<h1>HideAway 1</h1>
				<div class="owl-carousel owl-theme">
					<div><%= image_tag("hideaway1-1.jpg", class: "pic_carou") %></div>
					<div><%= image_tag("hideaway1-2.jpg", class: "pic_carou") %></div>
					<div><%= image_tag("hideaway1-3.jpg", class: "pic_carou") %></div>
					<div><%= image_tag("hideaway1-4.jpg", class: "pic_carou") %></div>
					<div><%= image_tag("hideaway1-5.jpg", class: "pic_carou") %></div>
					<div><%= image_tag("hideaway1-6.jpg", class: "pic_carou") %></div>
					<div><%= image_tag("hideaway1-7.jpg", class: "pic_carou") %></div>
					<div><%= image_tag("hideaway1-8.jpg", class: "pic_carou") %></div>
					<div><%= image_tag("hideaway1-9.jpg", class: "pic_carou") %></div>
					<div><%= image_tag("hideaway1-10.jpg", class: "pic_carou") %></div>
					<div><%= image_tag("hideaway1-11.jpg", class: "pic_carou") %></div>
					<div><%= image_tag("hideaway1-12.jpg", class: "pic_carou") %></div>
				</div>
				<p>Chalet HideAway 1 includes 4 twin / double-bed rooms. There is a large open plan living area with widescreen satellite TV, media centre and wifi. There is a private outdoor hot tub on the sun terrace which enjoys stunning views of the Mont Blanc Massif.</p>
				<small>For groups of 10 people we can make two of the rooms into triples.</small>
			</div>
			<div class="col-md-4">
				<h2 class="heavy">Property Facts</h2>
				<ul>
					<li><p class="lead"><%= fa_icon "bed" %>&nbsp;&nbsp;&nbsp;&nbsp;Sleep 8 - 10</p></li>
					<li><p class="lead"><%= fa_icon "bus" %>&nbsp;&nbsp;&nbsp;&nbsp;Bus stop 130m</p></li>
					<li><p class="lead"><%= fa_icon "cutlery" %>&nbsp;&nbsp;&nbsp;&nbsp;Argentiere village centre 500m</p></li>
					<li><p class="lead"><%= image_tag("cablecaricon.jpg", class: "icon") %>&nbsp;&nbsp;&nbsp;&nbsp;Grands Montets cable car 130m</p></li>
					<li><p class="lead"><%= fa_icon "wifi" %>&nbsp;&nbsp;&nbsp;&nbsp;Free WIFI</p></li>
					<li><p class="lead"><%= fa_icon "tv" %>&nbsp;&nbsp;&nbsp;&nbsp;UK Satellite TV &amp; DVD Player</p></li>
					<li><p class="lead"><%= fa_icon "car" %>&nbsp;&nbsp;&nbsp;&nbsp;Private parking</p></li>
				</ul>
				<h2 class="heavy">Property Features</h2>
				<ul>
					<li><p class="lead"><%= image_tag("jacuzziicon.jpg", class: "icon") %>&nbsp;&nbsp;&nbsp;&nbsp;Hot-tub jacuzzi</p></li>
					<li><p class="lead"><%= fa_icon "gamepad" %>&nbsp;&nbsp;&nbsp;&nbsp;X box Kinect</p></li>
					<li><p class="lead"><%= fa_icon "image" %>&nbsp;&nbsp;&nbsp;&nbsp;Balcony, terrace and garden</p></li>
					<li><p class="lead"><%= fa_icon "tree" %>&nbsp;&nbsp;&nbsp;&nbsp;Instant access to the open forest and the towering peaks </p></li>
					<li><p class="lead"><%= fa_icon "dollar" %>&nbsp;&nbsp;&nbsp;&nbsp;From £429 per person per week</p></li>
				</ul>
			</div>
			<!--div class="col-md-12 marginTopMin">
				<p class="lead">For larger groups HideAway 1 &amp; 2 can be rented alongside this chalet as they are interlinked through their garage, this allows groups of up to 22 people.</p>
			</div-->
		</div>
	</div>
</div>
<div class="background_image band_height">

</div>
<div class="home_content">
	<div class="container">
		<div class="row marginTopMin">
			<div class="col-md-8 col-md-push-4 center">
				<h1>HideAway 2</h1>
				<div class="owl-carousel owl-theme">
					<div><%= image_tag("hideaway2-1.jpg", class: "pic_carou") %></div>
					<div><%= image_tag("hideaway2-2.jpg", class: "pic_carou") %></div>
					<div><%= image_tag("hideaway2-3.jpg", class: "pic_carou") %></div>
					<div><%= image_tag("hideaway2-4.jpg", class: "pic_carou") %></div>
					<div><%= image_tag("hideaway2-5.jpg", class: "pic_carou") %></div>
					<div><%= image_tag("hideaway2-6.jpg", class: "pic_carou") %></div>
					<div><%= image_tag("hideaway2-7.jpg", class: "pic_carou") %></div>
					<div><%= image_tag("hideaway2-8.jpg", class: "pic_carou") %></div>
					<div><%= image_tag("hideaway2-9.jpg", class: "pic_carou") %></div>
					<div><%= image_tag("hideaway2-10.jpg", class: "pic_carou") %></div>
					<div><%= image_tag("hideaway2-11.jpg", class: "pic_carou") %></div>
					<div><%= image_tag("hideaway2-12.jpg", class: "pic_carou") %></div>
					<div><%= image_tag("hideaway2-13.jpg", class: "pic_carou") %></div>
					<div><%= image_tag("hideaway2-14.jpg", class: "pic_carou") %></div>
				</div>
				<p>Chalet HideAway 2 comprises of five twin / double bedrooms which each have their own private bathroom facilities.   There is a large open plan living area with widescreen satellite TV, media centre, table football and wifi.  Beneath the chalet there is a private heated indoor swimming pool, swedish sauna and on the sun terrace guests can enjoy the outdoor hot tub which has stunning views of the Mont Blanc Massif.</p>
				<small>For groups of 12 people we can make two of the rooms into triples.</small>
			</div>
			<div class="col-md-4 col-md-pull-8">
				<h2 class="heavy">Property Facts</h2>
				<ul>
					<li><p class="lead"><%= fa_icon "bed" %>&nbsp;&nbsp;&nbsp;&nbsp;Sleep 10 - 12</p></li>
					<li><p class="lead"><%= fa_icon "bus" %>&nbsp;&nbsp;&nbsp;&nbsp;Bus stop 130m</p></li>
					<li><p class="lead"><%= fa_icon "cutlery" %>&nbsp;&nbsp;&nbsp;&nbsp;Argentiere village centre 500m</p></li>
					<li><p class="lead"><%= image_tag("cablecaricon.jpg", class: "icon") %>&nbsp;&nbsp;&nbsp;&nbsp;Grands Montets cable car 130m</p></li>
					<li><p class="lead"><%= fa_icon "wifi" %>&nbsp;&nbsp;&nbsp;&nbsp;Free WIFI</p></li>
					<li><p class="lead"><%= fa_icon "tv" %>&nbsp;&nbsp;&nbsp;&nbsp;UK Satellite TV &amp; DVD Player</p></li>
					<li><p class="lead"><%= fa_icon "car" %>&nbsp;&nbsp;&nbsp;&nbsp;Private parking</p></li>
				</ul>
				<h2 class="heavy">Property Features</h2>
				<ul>
					<li><p class="lead"><%= image_tag("poolicon.jpg", class: "icon") %>&nbsp;&nbsp;&nbsp;&nbsp;Heated indoor swimming pool</p></li>
					<li><p class="lead"><%= fa_icon "sun-o" %>&nbsp;&nbsp;&nbsp;&nbsp;Sauna</p></li>
					<li><p class="lead"><%= fa_icon "fire" %>&nbsp;&nbsp;&nbsp;&nbsp;Wood burning stove</p></li>
					<li><p class="lead"><%= image_tag("jacuzziicon.jpg", class: "icon") %>&nbsp;&nbsp;&nbsp;&nbsp;Hot-tub jacuzzi</p></li>
					<li><p class="lead"><%= fa_icon "gamepad" %>&nbsp;&nbsp;&nbsp;&nbsp;X box Kinect</p></li>
					<li><p class="lead"><%= fa_icon "image" %>&nbsp;&nbsp;&nbsp;&nbsp;Balcony, terrace and garden</p></li>
					<li><p class="lead"><%= fa_icon "tree" %>&nbsp;&nbsp;&nbsp;&nbsp;Instant access to the open forest and the towering peaks </p></li>
					<li><p class="lead"><%= fa_icon "dollar" %>&nbsp;&nbsp;&nbsp;&nbsp;From £429 per person per week</p></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="background_image2 band_height">

</div>
<div class="home_content">
	<div class="container">
		<div class="row marginTopMin">
			<div class="col-md-6 center">
				<h1>Location</h1>
				<div class="marginTopMinMin">
					<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:400px;'><div id='gmap_canvas' style='height:400px;border-radius:10px'></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div> <a href='https://www.embed-map.net/'>add google map to my website</a> <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=668e816bb7036cc8d5ec60f77ebdd122368f53e0'></script><script type='text/javascript'>function init_map(){var myOptions = {zoom:16,center:new google.maps.LatLng(45.9776916,6.927751299999954),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(45.9776916,6.927751299999954)});infowindow = new google.maps.InfoWindow({content:'<strong>HideAway Chalets</strong><br>117 chemin des carterons<br>74400 argentiere<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
				</div>
			</div>
			<div class="col-md-6 center">
				<h1>What's around</h1>
			
				<ul class="nav nav-tabs">
				  <li class="active"><%= link_to("Panda Club", "#tab_panda_club", data: {toggle: "tab"}) %></li>
				  <li><%= link_to("Ski Rental", "#tab_ski_rental", data: {toggle: "tab"}) %></li>
				  <li><%= link_to("Restaurant", "#tab_restaurant", data: {toggle: "tab"}) %></li>
				  <li><%= link_to("Transport", "#tab_transport", data: {toggle: "tab"}) %></li>
				  <li><%= link_to("Other cool stuff", "#tab_other", data: {toggle: "tab"}) %></li>
				</ul>
				<div class="tab-content">
				  <div id="tab_panda_club" class="tab-pane fade in active">
				    <div class="col-md-6 panda_winter">
				    	<h4>Winter</h4>
				    	<p>Set in the heart of the forest, at the foot of Grand Montet, is our Panda Club, which is home to our Children's Ski School.</p>

				    	
				    	<%= image_tag("pandaclubhiver.jpg", class: "tab_logo_panda") %>


				    	<p><small>From 3 to 14 years old. The Panda Club is famous in Chamonix for its super child friendly service, exceptional standards and success rates, but more importantly enjoyment factor for children.</small></p>
				    	
				    	<%= link_to("More Info", "", data: {toggle: "modal", target: "#panda_club_winter"}, class: "btn btn-black") %>
				    	
				    </div>
				    <div class="col-md-6">
				    	<h4>Summer</h4>
				    	<p class="lead">Come with your horse</p>
				    	<%= image_tag("chaletsummerhorse.jpg", class: "tab_logo_panda") %>
				    	<p>Stables on site for your horses</p>
				    	<%= link_to("More Info", "", data: {toggle: "modal", target: "#panda_club_summer"}, class: "btn btn-black") %>
				    </div>
				  </div>
				  <div id="tab_ski_rental" class="tab-pane fade">
				    <div class="col-md-12 tab_horizontal_border">
				    	<div class="col-md-4">
				    		<%= link_to(image_tag("sportech.png", class: "tab_logo"), "http://www.sportech-argentiere.fr/en/ski-shop-sportech.html", target: "_blank") %>
				    	</div>
				    	<div class="col-md-8">
				    		<p>Sportech is THE mountain specialist, and has been for over 15 years.</p>
				    	</div>
				    </div>
				    <div class="col-md-12 tab_horizontal_border">
				    	<div class="col-md-4">
				    		<%= link_to(image_tag("sanglard.png", class: "tab_logo"), "http://uk.rentski.com", target: "_blank") %>
				    	</div>
				    	<div class="col-md-8">
				    		<p>Sanglard is located at the foot of the Grands Montets ski area directly behind the Lognan lift</p>
				    	</div>
				    </div>
				    <div class="col-md-12 tab_horizontal_border">
				    	<div class="col-md-4">
				    		<%= link_to(image_tag("grandmontetsport.png", class: "tab_logo_round"), "http://www.grands-montets-sports.com/?lang=en", target: "_blank") %>
				    	</div>
				    	<div class="col-md-8">
				    		<p>Grand Montet Sport is a ski,snowboard and hiking equipment rental shop in Argentière</p>
				    	</div>
				    </div>
				  </div>
				  <div id="tab_restaurant" class="tab-pane fade">
				    <div class="col-md-12 tab_horizontal_border">
				    	<div class="col-md-4">
				    		<%= link_to(image_tag("argentero.jpg", class: "tab_logo"), "", target: "_blank") %>
				    	</div>
				    	<div class="col-md-8">
				    		<p>L'Argentero</p>
				    	</div>
				    </div>
				    <div class="col-md-12 tab_horizontal_border">
				    	<div class="col-md-4">
				    		<%= link_to(image_tag("marmotton.jpg", class: "tab_logo"), "", target: "_blank") %>
				    	</div>
				    	<div class="col-md-8">
				    		<p>Les Marmottons</p>
				    	</div>
				    </div>
				  </div>
				  <div id="tab_transport" class="tab-pane fade">
				    <h3>Transportation</h3>
				    <p>Train</p>
				    <p>Geneva Airport</p>

				  </div>
				  <div id="tab_other" class="tab-pane fade">
				    <h3>Cool Stuff</h3>
				    <p>Golf</p>
				    <p>Tennis</p>

				  </div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div id="panda_club_winter" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <%= image_tag("panda_club_winter_modal1.jpg", class: "modal_picture") %>
      </div>
      <div class="modal-body">
        <p class="heavy">Whether your child is a complete beginner, needs to improve their skills, or can ski but wants to head onto the big slopes with other children the Panda Base camp really is a SKI COOL for all children, ages 3-12 years!</p>
		<p class="heavy">We also have our Junior Academy , for those children 8-14 years that already can ski and want to head off and learn new skills, moguls, freestyle and off piste</p>
		<p class="heavy">The Panda Club is affiliated with Evolution2. They attribute their success to utilising the same philosophy in everything they do – the pursuit of excellence - and providing the best possible service with the highest quality staff.</p>
      </div>
      <div class="modal-footer center">
      	<%= link_to("Visit Website", "http://www.evolution2-chamonix.com/ski-school/children", target: "_blank", class: "btn btn-black center") %>
        <button type="button" class="btn btn-black" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- Modal -->
<div id="panda_club_summer" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
      </div>
      <div class="modal-body">
        <p>horse</p>
      </div>
      <div class="modal-footer">
      	<%= link_to("Visit Website", "", class: "btn btn-black") %>
        <button type="button" class="btn btn-black" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>




