<p id="notice"><%= notice %></p>

<p>
  <strong>Self_catered:</strong>
  <%= @pricing.self_catered %>
</p>

<p>
  <strong>Price Per Weekend:</strong>
  <%= @pricing.weekend %>
</p>

<p>
  <strong>Week:</strong>
  <%= @pricing.week %>
</p>

<%= link_to 'Edit', edit_pricing_path(@pricing) %> |
<%= link_to 'Back', pricings_path %>
