<div class="row">
  <% @chalets.each do |chalet| %>
    <div class="col-md-6" id="chalet_<%= chalet.id %>">
      <div class="col-md-12">
        <h2><%= chalet.name %></h2>
      </div>
      <div class="col-md-3 add_picture_div">
        <%= link_to (fa_icon 'plus'), new_picture_path(house_id: chalet.id), class: 'add_picture_button' %>
      </div>
      <% chalet.pictures.each do |picture| %>
        <div class="col-md-3">
          <%= picture.name %>
          <%= image_tag picture.chalet_picture.url(:thumb) %><br>
          <%= link_to 'Delete', picture, method: :delete, data: { confirm: 'Are you sure?' }  %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
