<div class="row">
  <% @chalets.each do |chalet| %>
    <div class="col-md-6 text-center" id="chalet_<%= chalet.id %>">
      <div class="col-md-12">
        <h2><%= chalet.name %></h2>
        <br><br>
      </div>
      <div class="col-md-3 add_picture_div">
        <%= link_to (fa_icon 'plus'), new_picture_path(house_id: chalet.id), class: 'add_picture_button' %>
      </div>
      <div class="sortable_picture" data-update-url="<%= sort_pictures_path %>">
        <% chalet.pictures.order(:position).each do |picture| %>
          <div class="col-md-3" id="picture_<%= picture.id %>">
            <%= picture.name %>
            <%= image_tag picture.chalet_picture.url(:thumb) %><br>
            <%= link_to 'Delete', picture, method: :delete, remote: true,  data: { confirm: 'Are you sure?' }, class: 'btn btn-link'  %>
          </div>
        <% end %>
      </div>
      <div class="col-md-12">
        <br><br>
        <%= link_to 'Delete All', delete_all_pictures_path(house_id: chalet.id), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>
