<p id="notice"><%= notice %></p>

<h1>Sorting Appartments</h1>
<p>You can drag Up/Down to sort your appartments</p>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Chalet</th>
    </tr>
  </thead>

  <tbody id="sortable_appartment" data-update-url="<%= sort_appartments_path %>">
    <% @appartments.each do |appartment| %>
      <tr id="appartment_<%= appartment.id %>">
        <td><%= appartment.name %></td>
        <td><%= appartment.house.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Save', houses_path %>
