<!DOCTYPE html>
<html>
<head>
  <title>Chalet Hideaway- Admin</title>
  <%= favicon_link_tag 'favicon.png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>



</head>
<body id='admin-layout'>
  <%= render 'shared/admin_nav' %>
  <%= render 'shared/admin_side_bar' %>
  <div id='admin-main'>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </div>
</body>
</html>
